.h3{
    margin: .7rem;
    margin-bottom: .4rem;
    text-align: center;
}
.img{
    height: 50%;
    border-radius: 6px;
}
.quantityHolder{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 0px;
}
.quantityHolder p{
    padding: 2%;
}
@media (max-width: 814px) {
    .img{
        height: 40%;
    }
}
@media (max-width: 514px) {
    .h3{
        text-align: center;
    }
    .quantityHolder{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}